@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playwrite+AU+TAS:wght@100..400&display=swap');

h1, h2, p, a {
    font-family:'Merriweather', Georgia, 'Playwrite AU TAS';
}

h3 {
    font-family:'Playwrite AU TAS', 'Merriweather', Georgia;
}

body {
    text-align:center;
}

main {
    border:solid 2px gray;
    padding:5%;
    margin:0 15% 10% 15%;
}

.header {
    padding:15px;
    border:solid 2px gray;
    margin:50px;
}

.body {
    padding:15px;
    border:solid 2px gray;
    background-color:rgb(238, 238, 238);
    margin:50px;
}

.footer {
    padding:15px;
    background-color:slategray;
}